body{
	font-family: "Roboto", sans-serif;
	overflow-x:hidden;
	color: #333;
}

.loader {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loaderInner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

*::selection{
	background: black;
	color: white;
}

.main{
	min-height: 480px;
}

section, #main{
	position: relative;
}

section {
	padding: 65px 0px;
	text-align: center;
}

.top-wrapper{
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.top_desc{
	display: table-row;
}

.top_centered{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.top-text{
	display: inline-block;
}

.top-text p{
	margin-top: 25px;
	font-size: 1.9em;
	font-weight: 700;
}


h1{
	padding: 10px 30px;
	font-weight: 700;
	font-size: 4em;
	border: 8px solid currentcolor;
}

hr{
	width: 100px;
	height: 2px;
	border: none;
	background-color: #009CCB;
	margin-bottom: 70px;
}

.service>h3{
	color: #009CCB;
	margin: 30px 0px;
}

.service>img{
	height: 90px;
}

.service{
	border: 2px solid transparent;
	padding: 50px;
	margin-bottom: 30px;
	transition: .4s;
}

.service:hover{
	border-color: #BABABA;
}

.service>p {
	font-size: 1.4em;

}

.gray{
	background-color: rgb(248,248,248);
}

.works{
	position: relative;
	padding: 30px;
	margin-bottom: 30px;
}

h2{
	font-size: 2.7em;
}

.works>img{
	width: 100%;
}

.desc{
	padding: 25px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(245, 245, 245, .9);
	opacity: 0;
	transition: all .4s;
}

.desc>h5{
	color: #009CCB;
	font-size: 2.2em;
	font-weight: 700;
}

.desc>p{
	font-size: 1.3em;
}

.desc:hover{
	opacity: 1;
	padding-top: 20%;
}

.topnav{
	color: currentColor;
	transition: all .3s;
	
}

.nav>li>a{
	color: currentColor;
	font-size: 1.2em;
	font-weight: 700;
}

.nav>li{
	border-color: transparent;
}

.nav>li:hover, .current{
	border-bottom: #009CCB 1px solid !important;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: transparent;
}

.navbar-toggle, .icon-bar{
	border: 2px solid #333;	
}

.icon-bar{
	background-color: #333;
}

form, .controls{
	width: 100%;
}

.controls{
	height: 100%;
}

.control-group{
	position: relative;
}

.nm{
	min-height: 100px;
	max-height: 100px;
	width: 49.7%;
	display: inline-block;
}

.mes{
	max-height: 203px;
}

.nm:first-child{
	padding-right: 30px;
}

input, textarea{
	position: relative;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.4em;
	padding: 20px;
	padding-left: 65px
}

textarea{
	resize: none;
	height: 170px;
}

.fa-comment-o, .fa-envelope-o, .fa-user-o{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 32px;
	color: #BABABA;
}

@media(max-width: 943px){
	.nm{
		width: 100%;
	}

	.nm:first-child{
		padding-right: 0px;
	}
}

.form-actions{
	float: right;
}

.form-actions>button{
	font-size: 1.5em;
	width: 150px;
	padding: 15px 10px;
	background-color: #009CCB;
	border: none;
	border-radius: 4px;
}

.fa-paper-plane-o{
	font-size: 1em;
	margin-right: 15px;
	margin-left: -10px;
}

.help-block{
	max-height: 23px;
	margin: 0px;
	padding: 0px;
	display: block;
	visibility: hidden;
}
.help-block>ul{
	margin: 0px;
	padding: 0px;
	color: #FF6868;
	list-style-type: none;
	text-align: left;
}

footer{
	position: relative;
	background-color: currentColor;
	height: 100px;
}
